
<div class="container">
{% if cart.item_count > 0 %}

  <h1>Panier</h1>
  <form action="/cart" method="post" novalidate class="cart-form">

    <div class="cart-row">
      {% for item in cart.items %}
                 
        <div class="cart-item">

          <a href="{{ item.url | within: collections.all }}">
            <img src="{{ item | img_url: 'small' }}" alt="{{ item.title | escape }}">
          </a>     
        
          <a href="{{ item.url }}" class="cart-item--title">{{ item.product.title }}<br />
            {{ item.variant.title }}
          </a>
        
         
        
        </div>
        <div class="cart-item">
          <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
        
        </div>
        <div class="cart-item">
          {{ item.price | money }}
       
          
          {% if item.original_line_price != item.line_price %}
            {{ item.original_line_price | money }}
          {% endif %}
        
          {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
        </div>
        <div class="cart-item">
          <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">x</a>
        </div>
      {% endfor %}
    </div>
    
    <div class="cart-subtotal">
      <p>Total : {{ cart.total_price | money }}</p>
      <button type="submit" class="btn btn-secondary" name="update">Mise à jour du panier</button>
      <button type="submit" class="btn btn-primary" name="checkout">Passer commande</button>
    </div>
  </form>
{% else %}
  <h1>Panier</h1>
  Vous n'avez rien dans votre panier
{% endif %}

</div>
