
<div class="container">


{% paginate search.results by 10 %}
  <form action="/search" method="get" role="search" class="search-form">
    <input type="search" name="q" value="{{ search.terms | escape }}">
    <button type="submit" class="btn btn--small">{{ 'general.search.search_text' | t }}</button>
  </form>
  <div class="artiles">
  {% if search.performed %}
    {% for item in search.results %}
    <div class="article">        
        <h4 class="article-title">{{ item.title | link_to: item.url }}</h4>
        <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
        <a href="{{ item.url }}" class="btn btn--small">En savoir plus</a>
      {% else %}
      {{ 'general.search.no_result' | t }}
      {% endfor %}
    </div>
  {% endif %}
</div>
  {% if paginate.pages > 1 %}{{ paginate | default_pagination }}{% endif %}
{% endpaginate %}
</div>